Tugz.xcodeproj/xcuserdata
Tugz.xcodeproj/project.xcworkspace/xcuserdata
.DS_Store
Tugz.xcodeproj/project.xcworkspace/xcuserdata/cw.xcuserdatad/UserInterfaceState.xcuserstate
Local/*
*.xcuserstate
Tugz.xcodeproj/project.xcworkspace/xcuserdata/cw.xcuserdatad/UserInterfaceState.xcuserstate
